@import "../../../scss/base/_vars";

.cart {
  display: flex;
  column-gap: 24px;
  &__img {
    position: relative;
  }
  &__icon {
    font-size: 46px;
    color: $darkBlue;
    @media (max-width: $sm) {
      font-size: 25px;
    }
  }
  &__count {
    position: absolute;
    top: 0;
    right: -4px;
    width: 22px;
    height: 22px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #fff;
    background-color: $yellow;
    border-radius: 50%;
    @media (max-width: $sm) {
      top: -5px;
      right: -5px;
      width: 17px;
      height: 17px;
      line-height: 17px;
      font-size: 10px;
    }
  }
  &__body {
    @media (max-width: $sm) {
      display: none;
    }
  }
  &__text {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    &:hover,
    &:active {
      color: $yellow;
    }
  }
  &__price {
    font-weight: 600;
    line-height: 1.5;
    color: $dark;
    white-space: nowrap;
  }
}
