.form-product {
  width: 100%;
  max-width: 600px;
  max-height: 90%;
  font-size: 1rem;
  color: #111;
  &__title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  &__label {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #3f4e65;
  }
  &__input {
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #ededed;
  }
  textarea {
    height: 100px;
  }
  &__radio {
    display: inline-block;
    margin-right: 40px;
  }
  label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  &__select {
    width: 300px;
    min-height: 400px;
    margin-bottom: 20px;
  }
  &__option {
    border: 1px solid #5c6370;
    padding: 3px 20px;
  }
  &__btn {
    padding: 10px 20px;
    margin-bottom: 40px;
  }
  form {
    width: 100%;
  }
}
