//  header
.header {
  background-color: #fff;
  &__menu-row,
  &__logo-row,
  &__menu-row-lg,
  &__logo-row-lg {
    border-bottom: 2px solid rgba(63, 78, 101, 0.2);
  }
  &__menu-row,
  &__logo-row {
    display: block;
    @media (max-width: $lg) {
      display: none;
    }
  }
  &__menu-row-lg,
  &__logo-row-lg {
    display: none;
    @media (max-width: $lg) {
      position: relative;
      display: block;
      background-color: #fff;
      z-index: 50;
    }
  }
  &__menu-row-container {
    display: flex;
    align-items: center;
    column-gap: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    @media (max-width: $xl) {
      column-gap: 20px;
    }
  }
  &__menu-row-lg-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
  &__address,
  &__mail {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-weight: 600;
    color: $dark;
    @media (max-width: $lg) {
      margin-bottom: 15px;
      column-gap: 17px;
    }
  }
  &__address-text,
  &__mail-text {
    white-space: nowrap;
    line-height: 1.2;
    a {
      color: $darkBlue;
      &:hover {
        color: $yellow;
      }
    }
    span {
      font-size: 12px;
      font-weight: 300;
      color: $darkBlue;
    }
  }

  &__menu {
    margin-left: auto;
    @media (max-width: $lg) {
      padding: 25px 0 22px;
      border-top: 1px dashed rgba(63, 78, 101, 0.2);
    }
  }
  &__logo-row-container {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 5px;
    @media (max-width: $xl) {
      justify-content: space-between;
      column-gap: 15px;
    }
  }
  &__logo-row-lg-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    font-size: 12px;
    font-weight: 600;
    @media (max-width: $sm) {
      height: 40px;
    }
  }
  &__logo {
    margin-right: 38px;
    @media (max-width: $xl) {
      margin-right: 0;
    }
    @media (max-width: $lg) {
      width: 97px;
    }
  }
  &__catalog {
    margin-right: 15px;
    padding: 10px 15px;
    aspect-ratio: 192 / 59;
    width: 14%;
    column-gap: 15px;
    @media (max-width: $xl) {
      margin-right: 0;
    }
    @media (max-width: $lg) {
      width: 150px;
      height: 40px;
      svg {
        width: 15px;
        height: 15px;
        stroke: #fff;
      }
    }
    @media (max-width: $sm) {
      padding: 0;
      width: auto;
      column-gap: 6px;
      color: $darkBlue;
      background-color: transparent;
      svg {
        order: -1;
        stroke: $darkBlue;
      }
    }
  }
  &__search {
    margin-right: 35px;
    @media (max-width: $xl) {
      margin-right: 0;
    }
  }
  &__tel-content {
    margin-right: 50px;
    display: flex;
    align-items: center;
    column-gap: 14px;
    text-align: right;
    @media (max-width: $xl) {
      margin-right: 0;
    }
    @media (max-width: $lg) {
      align-items: stretch;
      margin-bottom: 13px;
      column-gap: 17px;
      text-align: left;
    }
  }
  &__tel-text {
    @media (max-width: $lg) {
      line-height: normal;
    }
  }
  &__tel-title {
    font-weight: 600;
    color: $dark;
  }
  &__tel {
    white-space: nowrap;
    font-weight: 600;
    line-height: 1.5;
    color: $darkBlue;
    &:hover {
      color: $yellow;
    }
    @media (max-width: $lg) {
      display: block;
      margin-bottom: 8px;
      line-height: normal;
      font-weight: 300;
      font-size: 12px;
    }
  }
  &__work-hours {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    white-space: nowrap;
    color: $darkBlue;
  }
  &__request-container {
    display: flex;
    align-items: center;
    column-gap: 7px;
    margin-bottom: 25px;
  }
  &__icon-request {
    padding: 10px;
    background-color: $yellow;
    border-radius: 50%;
  }
  &__tel-request {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: underline !important;
    color: $darkBlue;
  }
  &__tel-img {
    width: 100%;
    max-width: 70px;
    max-height: 92px;
    object-fit: contain;
    @media (max-width: $xl) {
      display: none;
    }
  }
  &__price-list {
    margin-right: 20px;
    padding: 10px 15px;
    aspect-ratio: 200 / 59;
    width: 14.6%;
    column-gap: 15px;
    color: #fff;
    font-weight: 700;
    @media (max-width: $xl) {
      margin-right: 0;
    }
    @media (max-width: $lg) {
      width: 290px;
      height: 70px;
    }
  }
  &__cart {
    margin-left: auto;
    @media (max-width: $xl) {
      margin-left: 0;
    }
  }
}
.menu {
  &__title {
    display: none;
    @media (max-width: $lg) {
      display: block;
      margin-bottom: 25px;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.5;
      color: $darkBlue;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    @media (max-width: $xl) {
      column-gap: 30px;
    }
    @media (max-width: $lg) {
      flex-direction: column;
      row-gap: 20px;
    }
  }
  &__link {
    color: $darkBlue;
    white-space: nowrap;
    @media (max-width: $lg) {
      line-height: 1.5;
    }
    &:hover {
      color: $yellow;
      transition: all 0.3s ease;
    }
  }
}
.icon-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: $yellow;
  border-radius: 50%;
  &__burger {
    position: relative;
    width: 8.5px;
    height: 7.2px;
    background-color: $yellow;
  }
  span {
    position: absolute;
    top: calc(50% - 0.6px);
    right: 0px;
    width: 100%;
    height: 1.2px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    &:first-child {
      top: 0px;
    }
    &:last-child {
      top: auto;
      bottom: 0px;
    }
  }
  &._open span {
    transform: scale(0);
    &:first-child {
      transform: rotate(-45deg);
      top: calc(50% - 0.6px);
    }
    &:last-child {
      transform: rotate(45deg);
      bottom: calc(50% - 0.6px);
    }
  }
}
.search {
  position: relative;
  aspect-ratio: 263 / 59;
  width: 19.2%;
  @media (max-width: $lg) {
    width: 180px;
    height: 40px;
  }
  @media (max-width: $sm) {
    display: flex;
    align-items: center;
    column-gap: 6px;
    width: auto;
    height: 15px;
  }
  &__form {
    width: 100%;
    height: 100%;
    @media (max-width: $sm) {
      width: auto;
    }
  }
  &__input {
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    @media (max-width: $lg) {
      padding: 5px 15px;
      display: block;
    }
    @media (max-width: $sm) {
      display: none;
    }
  }
  &__title {
    display: none;
    @media (max-width: $sm) {
      display: block;
    }
  }
  &__btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: $lg) {
      right: 5px;
      width: 25px;
      height: 25px;
      svg {
        margin-top: 3px;
        width: 15px;
        height: 15px;
      }
    }
    @media (max-width: $sm) {
      position: static;
      width: 15px;
      height: 15px;
      color: $darkBlue;
      background-color: transparent;
      transform: none;
      svg {
        margin-top: 0;
        stroke: $darkBlue;
      }
    }
  }
}
.cart {
  display: flex;
  column-gap: 24px;
  &__img {
    position: relative;
    ._icon-basket {
      font-size: 46px;
      color: $darkBlue;
      @media (max-width: $sm) {
        font-size: 25px;
      }
    }
  }
  &__count {
    position: absolute;
    top: 0;
    right: -4px;
    width: 22px;
    height: 22px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #fff;
    background-color: $yellow;
    border-radius: 50%;
    @media (max-width: $sm) {
      top: -5px;
      right: -5px;
      width: 17px;
      height: 17px;
      line-height: 17px;
      font-size: 10px;
    }
  }
  &__body {
    @media (max-width: $sm) {
      display: none;
    }
  }
  &__text {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__price {
    font-weight: 600;
    line-height: 1.5;
    color: $dark;
    white-space: nowrap;
  }
}
.burger-menu {
  position: absolute;
  top: -100vh;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.3);
  opacity: 0;
  transition: all 0.5s ease-out;
  z-index: 10;
  &__body {
    padding-top: 24px;
    padding-bottom: 32px;
    background-color: #fff;
  }
  &._open {
    top: 120px;
    opacity: 1;
    display: block;
    transition: all 0.5s ease;
    @media (max-width: $sm) {
      top: 100px;
    }
  }
}
