@import "../../../scss/base/_vars";

.btnBack {
  display: none;
  &__btn {
    margin-right: 5px;
    width: 32px;
    height: 32px;
  }
  &__text {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.14em;
  }
  @media (max-width: $sm) {
    padding-top: 20px;
    display: block;
    padding-bottom: 25px;
  }
}
